<h2 class="centered">Charts</h2>
<div>
   <div class="sp-circle" ng-show="loading"></div>
   <ul class="charts">
      <li ng-repeat="chart in charts">
          <a ng-href="#/charts/{{$index}}">
	    <chart-item class="charts__item charts__item-rounder"
			holderjs="holderjs"
			title="{{chart.title.text}}"
			id="img_{{$index}}"
			is-last="$last"></chart-item>
	  </a>
        </li>
    </ul>
</div>
